/* about us section */
.about-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-image{
    background: url('/assets/images/about_page/about_us.jpg') no-repeat center center;
    height: 550px;
    width: 1200px;
    border-radius: 10px;
    position: relative; 
    margin-top: 30px;
    max-width: 95vw;
}

.about-signature{
    background: url('../images/about_page/signature128.png') no-repeat center center;
    height: 128px;
}

@media screen and (max-width: 1448px) {
    .about-us-image{
        background: url('../images/about_page/about_us_900.jpg') no-repeat center center;
        height: 413px;
        width: 900px;
        margin-top: 20px;
    }

}
@media screen and (max-width: 1024px) {
    .about-us-image{
        background: url('../images/about_page/about_us_700.jpg') no-repeat center center;
        height: 321px;
        width: 700px;
    }

}
@media screen and (max-width: 768px) {
    .about-signature{
        background: url('../images/about_page/signature64.png') no-repeat center center;
        height: 64px;
    }
}
@media screen and (max-width: 425px) {
    .about-us-image{
        background: url('../images/about_page/about_us_350.jpg') no-repeat center center;
        height: 161px;
        width: 350px;
    }

}