/* class */
.class-section{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class-image{
    height: 500px;
    width: 1200px;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 90%;
}
.beginner-image{
    background: url('../images/classes_page/beginner_1200.jpg') no-repeat center center;

}

.advanced-image{
    background: url('../images/classes_page/advanced_1200.jpg') no-repeat center center;

}

.group-image{
    background: url('../images/classes_page/group_1200.jpg') no-repeat center center;

}

.class-information{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    font-size: 20px;
    max-width: 100%;
}
.class-information-container{
    text-align: center;
    width: 200px;
}
.classes-icon{}
.available-classes{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: #e5feda;
    width: 200px;
    color: #129263;
    padding: 8px 5px;
    margin-bottom: 20px;
}
.circle{
    height: 8px;
    width: 8px;
    background-color: #129263;
    border-radius: 50%;
    margin-right: 8px;
}

/* schedule */

.class-schedule-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.class-schedule{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 480px;
    border: 1px solid #129263;
    background-color: #e5feda;
    padding: 20px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    
}

.schedule-class{}
.class-day {
    font-size: 18px;
    font-weight: 800;
    margin: 0px;
}
.class-time{
    margin: 0px;
    font-weight: 700;
}
.class-schedule-text{
    font-size: 14px;
}
.class-logo{
    text-align: center;
    background-color: #fff;
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 5px 0px;
}
.class-image-logo{
    padding-right: 10px;
}


/* class instructor */

.class-instructor-section{
    border-top: 1px solid #b4bac0;
    border-bottom: 1px solid #b4bac0;
}
.class-instructor-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0px;
}
.class-instructor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.class-instructor-title{
    width: 250px;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}
.class-instructor-name{
    font-size: 30px;
    width: 250px;
    text-align: center;
}
.class-instructor-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.class-instructor-image-maria{
    background: url('../images/trainer-images/maria_ericson_200.jpg') no-repeat;

}
.class-instructor-image-susan{
    background: url('../images/trainer-images/susan_miranda_200.jpg') no-repeat;
}
.class-instructor-image-jane{
    background: url('../images/trainer-images/jane_johnson_200.jpg') no-repeat;
}


.instructor-info{
    width: 550px;
    max-width: 95%;
    margin-bottom: 15px;
}
.instructor-info-container{
    
}
.enroll-button{

}
@media screen and (max-width: 1448px) {

}
@media screen and (max-width: 1024px) {
    .class-section{
        padding-top: 50px;
        padding-bottom: 50px; 
    }

    .class-image{
        height: 375px;
        width: 900px;
    }
    .beginner-image{
        background: url('../images/classes_page/beginner_900.jpg') no-repeat center center;
    
    }
    .advanced-image{
        background: url('../images/classes_page/advanced_900.jpg') no-repeat center center;
    }

    .group-image{
        background: url('../images/classes_page/group_900.jpg') no-repeat center center;
    
    }
    .class-information-container{
        font-size: 18px;
    }
    /* instructor */
    .class-instructor-name {
        font-size: 25px;
}
.class-instructor-title {
    margin: 5px 0;
    font-size: 15px;
}


.class-instructor-image{
    height: 150px;
    width: 150px;
}
.class-instructor-image-maria{
    background: url('../images/trainer-images/maria_ericson_150.jpg') no-repeat;

}
.class-instructor-image-susan{
    background: url('../images/trainer-images/susan_miranda_150.jpg') no-repeat;
}
.class-instructor-image-jane{
    background: url('../images/trainer-images/jane_johnson_150.jpg') no-repeat;
}
}
@media screen and (max-width: 768px) {
    .class-image{
        height: 292px;
        width: 700px;
    }
    .beginner-image{
        background: url('../images/classes_page/beginner_700.jpg') no-repeat center center;
    
    }
    .advanced-image{
        background: url('../images/classes_page/advanced_700.jpg') no-repeat center center;
    }
    
.group-image{
    background: url('../images/classes_page/group_700.jpg') no-repeat center center;

}
    .class-information-container {
        font-size: 13px;
        width: 150px;
    }

    /* schedule */
    .class-schedule {
        margin-top: 0px;
    }

    /* instructor */

    .class-instructor-name {
        font-size: 20px;
        width: 180px;
}
.class-instructor-title {
    margin: 5px 0;
    font-size: 13px;
    width: 180px;
}

.instructor-info {
    font-size: 15px;
    max-width: 99%;
    width: 400px;
}

}

@media screen and (max-width: 592px) {
    .class-instructor-container {
        flex-direction: column;
        text-align: center;
    }

    .class-instructor-image{
        height: 200px;
        width: 200px;
        margin-bottom: 10px;
    }
    .class-instructor-image-maria{
        background: url('../images/trainer-images/maria_ericson_200.jpg') no-repeat;
    
    }
    .class-instructor-image-susan{
        background: url('../images/trainer-images/susan_miranda_200.jpg') no-repeat;
    }
    .class-instructor-image-jane{
        background: url('../images/trainer-images/jane_johnson_200.jpg') no-repeat;
    }
    .instructor-info {
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {

    .class-image{
        height: 208px;
        width: 500px;
    }
    .beginner-image{
        background: url('../images/classes_page/beginner_500.jpg') no-repeat center center;
    
    }
    .advanced-image{
        background: url('../images/classes_page/advanced_500.jpg') no-repeat center center;
    }

    .group-image{
        background: url('../images/classes_page/group_500.jpg') no-repeat center center;
    
    }
    .class-information-container {
        font-size: 12px;
        width: 120px;
    }
    /*schedule*/
    .class-schedule {
        max-width: 90%;
    }
    .class-logo{
        padding: 2px 8px;
    }

    /* instructor */

    .instructor-info {
        width: 350px;
        font-size: 12px;
    }

}
@media screen and (max-width: 375px) {
    .class-information-container {
        font-size: 8px;
        width: 100px;
    }
    /*schedule*/
    .class-schedule-text {
        font-size: 11px;
    }
    /* instructor */

    .class-instructor-image{
        height: 150px;
        width: 150px;
    }
    .class-instructor-image-maria{
        background: url('../images/trainer-images/maria_ericson_150.jpg') no-repeat;
    
    }
    .class-instructor-image-susan{
        background: url('../images/trainer-images/susan_miranda_150.jpg') no-repeat;
    }
    .class-instructor-image-jane{
        background: url('../images/trainer-images/jane_johnson_150.jpg') no-repeat;
    }

    .instructor-info {
        width: fit-content;
        margin: 10px;
    }
}