.contact-container{}
.contact-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.contact-button-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
}
.contact-button{
    width: 200px;
    padding: 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-logo{
    padding-right: 10px;
}

/* contact form */
.contact-form-section {
    background-color: #edf8ff;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
}
.form-container{
    width: 100%;
    max-width: 1200px;
    z-index: 10;
    position: absolute;
    padding-top: 80px;
    padding-bottom: 100px;
}

form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-submit-button{
    margin-top: 10px;
}
.textarea-container,
.telephone-container{
    display: flex;
    flex-direction: column;
}

.form-input{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 857px) {
    .form-input-container{
        padding: 5px;
    }
}
@media screen and (max-width: 768px){
    .contact-button-list{
        flex-direction: column;
    }
    .contact-button{
        width: 95%;
        margin: 10px auto;
        padding: 8px 44px;
    }

    .contact-button-list li {
        width: 100%;
    }

    /* form */
    .form-container{
        padding-top: 50px;
        padding-bottom: 70px;
    }
    form{
        width: 95%;
        max-width: none;
    }
    .form-label,
    .form-input{
        font-size: 13px;
    }

}

@media screen and (max-width: 592px) {
    .contact-button{
        margin: 10px auto;
    }
    .contact-form-background-image{
        height: 400px;
    }
}
@media screen and (max-width: 479px) {
    .contact-button {

        padding: 5px 0px;
    }
    /* form */
    .form-container {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .form-label,
    .form-input,
    .contact-button{
        font-size: 11px;
    }
}

@media screen and (max-width: 375px) {
    .form-container {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .form-label,
    .form-input,
    .contact-button{
        font-size: 8px;
    }

    .form-input{
        padding: 4px 8px;
    }
    .contact-form-background-image {
        height: 300px;
    }
}